.goal-item{
  width: 100%;
  border-left: 3px solid $color-white-darkness;
  padding: 0 20px;
  margin: 0 0 40px 0;
  transition: all .3s;

  &:hover {
    border-color: $color-pink;
    background-color: $bg-black-dark;
    border-radius: 5px;
    padding: 5px 20px;
  }

  p{
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1.4;

    &:first-child{
      margin-bottom: 10px;
    }

    i{
      font-style: italic;
      font-size: 20px;
      @include media_querie(extraSmall, bigSmall){
        font-size: 17px;
      }
    }
  }
}
