#scenario {
  img {
    max-width: 100%;
  }

  h1 {
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
  }

}

#chart-section {
  .canvas-container {
    p{
      font-size: 14px;
      text-align: center;
      margin-bottom: 0;
    }

    .box-chart {
      position: relative;
      width: 100%;

    }
  }

  .block-charts{
    margin: 50px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    .canvas-container {
      width: 100%;

    }

    @include media_querie(extraSmall, medium) {
      display: block;
      .canvas-container {
        margin-top: 20px;
      }

    }
  }
}
